body {
    margin: 0;
}
.oya {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1f7bb;
}
.container {
    width: 960px;
    margin: 0 auto;
}
header {
    border-bottom: solid 2px #cccccc;
    color: #663300;
}
a {
    text-decoration: none;
    color: #663300;
}
.header_margin {
    margin: 0 auto;
    width: 960px;
    background-color: #ffffff;
}
.header {
    display: flex;
}
h1 {
    font-family: fantasy;
}
button.button1 {
    padding: 5px 20px;
    margin: 0 5px;
}
.menu {
    margin-left: auto;
}
img.small_size_menu {
    width: 35px;
    height: 25px;
    padding: 0 5px;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    flex: 1;
    text-align: center;
    border-right: 1px solid black;
}
li:last-child {
    border-right: 0;
}
footer {
    border-top: solid 2px #cccccc;
    text-align: center;
    color: #663300;
}

.box {
    display: block;
    background-color: #ffffff;
    color: #555555;
    border: solid 5px #663366;
    width:600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
h3 {
    color: #663366;
    width: 600px;
    margin: 0 auto;
}
button.button2 {
    background-color: #ffffff;
    padding: 5px 80px;
}
.category_name {
    width: 600px;
    text-align: center;
    color: #555555;
    margin: 0 auto;
}
.serch_button {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px;
}
.inner_box {
    padding: 10px 30px;
}
